
#hs_cos_wrapper_widget_1666534650750  { display: block !important; padding-top: 0px !important }
#hs_cos_wrapper_widget_1666439887677  { display: block !important; padding-bottom: 50px !important; padding-top: 50px !important }
#hs_cos_wrapper_module_16680895708084  { display: block !important; padding-top: 30px !important }
#hs_cos_wrapper_module_16680895708084  { display: block !important; padding-top: 30px !important }
#hs_cos_wrapper_widget_1666439887677  { display: block !important; padding-bottom: 50px !important; padding-top: 50px !important }
#hs_cos_wrapper_widget_1666534650750  { display: block !important; padding-top: 0px !important }
.dnd_area-row-0-force-full-width-section > .row-fluid {
  max-width: none !important;
}
.dnd_area-row-1-background-image {
  background-image: url('https://www.test-correct.nl/hubfs/Background-Triangles-grey-1.svg') !important;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}
.dnd_area-row-1-max-width-section-centering > .row-fluid {
  max-width: 755px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.dnd_area-row-2-background-color {
  background-color: rgba(240, 242, 245, 1) !important;
}
.dnd_area-row-2-max-width-section-centering > .row-fluid {
  max-width: 755px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.dnd_area-row-3-background-color {
  background-color: rgba(240, 242, 245, 1) !important;
}
.dnd_area-row-3-max-width-section-centering > .row-fluid {
  max-width: 755px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.dnd_area-row-4-background-image {
  background-image: url('https://www.test-correct.nl/hubfs/Background-Triangles-grey.svg') !important;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}
.dnd_area-row-4-max-width-section-centering > .row-fluid {
  max-width: 755px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.dnd_area-row-5-background-color {
  background-color: rgba(255, 255, 255, 1) !important;
}
.dnd_area-row-5-max-width-section-centering > .row-fluid {
  max-width: 1104px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.dnd_area-row-6-background-gradient {
  background-image: linear-gradient(to right, rgba(0, 77, 245, 1), rgba(71, 129, 255, 1)) !important;
}
.dnd_area-row-6-max-width-section-centering > .row-fluid {
  max-width: 1104px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.dnd_area-row-7-background-gradient {
  background-image: linear-gradient(to right, rgba(0, 77, 245, 1), rgba(71, 129, 255, 1)) !important;
}
.dnd_area-row-7-max-width-section-centering > .row-fluid {
  max-width: 1104px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.dnd_area-row-8-background-gradient {
  background-image: linear-gradient(to right, rgba(0, 77, 245, 1), rgba(71, 129, 255, 1)) !important;
}
.dnd_area-row-8-max-width-section-centering > .row-fluid {
  max-width: 1104px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.dnd_area-row-10-force-full-width-section > .row-fluid {
  max-width: none !important;
}
.dnd_area-row-11-background-color {
  background-color: rgba(255, 255, 255, 1) !important;
}
.dnd_area-row-11-max-width-section-centering > .row-fluid {
  max-width: 1104px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.dnd_area-row-12-force-full-width-section > .row-fluid {
  max-width: none !important;
}
.dnd_area-row-13-background-gradient {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(240, 242, 245, 1)) !important;
}
.dnd_area-row-14-background-color {
  background-color: rgba(240, 242, 245, 1) !important;
}

.login_menu{
  display: flex;
  justify-content: center;
}

.form{
  width: 50vh;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 35vh;
  border: 2px solid black;
  border-radius: 10px;
  flex-shrink: 1;
  padding: 15px;
}

.form_field{
  width: 100%;
  text-align: center;
  padding: 20px;
}

.login_input{
  box-sizing: border-box;
  padding: 7px;
  border: 1px solid black;
  border-radius: 5px;
}

.login_label{
  width: 100%;
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
  flex-shrink: inherit;
}

.login_button{
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #004df5;
  padding-left: 17px;
  padding-right: 17px;
  min-height: 40px;
}

.login_input_failed{
  box-sizing: border-box;
  padding: 7px;
  border: 1px solid red;
  border-radius: 5px;
}

.widget_1666534542254-flexbox-positioning {
  display: -ms-flexbox !important;
  -ms-flex-direction: column !important;
  -ms-flex-align: center !important;
  -ms-flex-pack: start;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: flex-start;
}
.widget_1666534542254-flexbox-positioning > div {
  max-width: 100%;
  flex-shrink: 0 !important;
}
.widget_1666440167861-flexbox-positioning {
  display: -ms-flexbox !important;
  -ms-flex-direction: column !important;
  -ms-flex-align: center !important;
  -ms-flex-pack: start;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: flex-start;
}
.widget_1666440167861-flexbox-positioning > div {
  max-width: 100%;
  flex-shrink: 0 !important;
}
/* HubSpot Non-stacked Media Query Styles */
@media (min-width:768px) {
  .dnd_area-row-6-vertical-alignment > .row-fluid {
    display: -ms-flexbox !important;
    -ms-flex-direction: row;
    display: flex !important;
    flex-direction: row;
  }
  .dnd_area-row-7-vertical-alignment > .row-fluid {
    display: -ms-flexbox !important;
    -ms-flex-direction: row;
    display: flex !important;
    flex-direction: row;
  }
  .cell_1666440264880-vertical-alignment {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-pack: start !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
  }
  .cell_1666440264880-vertical-alignment > div {
    flex-shrink: 0 !important;
  }
  .cell_1666534976628-vertical-alignment {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-pack: center !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
  .cell_1666534976628-vertical-alignment > div {
    flex-shrink: 0 !important;
  }
  .cell_1666534955972-vertical-alignment {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-pack: center !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
  .cell_1666534955972-vertical-alignment > div {
    flex-shrink: 0 !important;
  }
  .cell_16665349345893-vertical-alignment {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-pack: center !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
  .cell_16665349345893-vertical-alignment > div {
    flex-shrink: 0 !important;
  }
  .cell_1666534934589-vertical-alignment {
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    -ms-flex-pack: center !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
  .cell_1666534934589-vertical-alignment > div {
    flex-shrink: 0 !important;
  }
}
/* HubSpot Styles (default) */
.dnd_area-row-1-padding {
  padding-bottom: 20px !important;
}
.dnd_area-row-2-padding {
  padding-top: 60px !important;
  padding-bottom: 20px !important;
}
.dnd_area-row-3-padding {
  padding-top: 0px !important;
  padding-bottom: 60px !important;
}
.dnd_area-row-4-padding {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}
.dnd_area-row-5-padding {
  padding-top: 0px !important;
  padding-bottom: 80px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.dnd_area-row-6-padding {
  padding-top: 80px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.dnd_area-row-7-padding {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.dnd_area-row-8-padding {
  padding-bottom: 100px !important;
}
.dnd_area-row-10-padding {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.dnd_area-row-11-padding {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.dnd_area-row-12-padding {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.dnd_area-row-13-padding {
  padding-top: 80px !important;
  padding-bottom: 100px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.dnd_area-row-14-padding {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.dnd_area-row-15-margin {
  margin-top: -80px !important;
  margin-bottom: 0px !important;
}
.dnd_area-row-15-padding {
  padding-top: 0px !important;
}
.cell_16680895586292-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.cell_16684344115902-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.cell_16684343572812-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.cell_16685933714933-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.cell_1666440264880-padding {
  padding-top: 0px !important;
}
.cell_1666534976628-padding {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.cell_1666534955972-padding {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.cell_16665349345893-padding {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.cell_1666534934589-padding {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.cell_1668594352515-padding {
  padding-bottom: 70px !important;
}
.cell_16686103530305-padding {
  padding-bottom: 70px !important;
}
.module_16686103530309-hidden {
  display: block !important;
}
/* HubSpot Styles (mobile) */
@media (max-width: 992px) {
  .dnd_area-row-2-padding {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
  .dnd_area-row-3-padding {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
  .dnd_area-row-4-padding {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
  .dnd_area-row-5-padding {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
  .dnd_area-row-6-padding {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
  .dnd_area-row-7-padding {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
  .dnd_area-row-11-padding {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
  .cell_16680895586292-row-1-padding {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
}
