<html>
<head>
    <link rel='stylesheet' href="{{ url_for('static', filename='stylesheet.css')}}">
    <nav class="navbar">
        
        <ul class="nav-links">
            <li class="nav-item"><a href="/"><img src="https://www.test-correct.nl/hubfs/raw_assets/public/test-correct/images/testcorrect-logo.svg" class="logo"></a></li>
            <li class="nav-item"><a href="/dashboard">Dashboard</a></li>
            <li class="nav-item"><a href="/filtering/vragen">Vragen</a></li>
            <li class="nav-item"><a href="/filtering/leerdoelen">Leerdoelen</a></li>
            <li class="nav-item"><a href="/filtering/auteurs">Auteurs</a></li>
            <li class="nav-item"><a id="logout" href="/filtering/logout">Log uit</a></li>
        </ul>  
    </nav>   
</head>
<body>
<table>
    {% if check == "('True',)" %}
    <tr>
        <th>ID</th>
        <th>Voornaam</th>
        <th>Achternaam</th>
        <th>Geboortejaar</th>
        <th>Medewerker</th>
        <th>Met pensioen</th>
        <th></th>
    </tr>
    {% for post in posts %}
    <tr>
        <form action="{{ url_for('auteurdetail') }}" method="post">
        <input type="hidden" name="id" value="{{ post[0] }}">
        <input type="hidden" name="table" value="auteurs">
        <td>{{ post[0] }}</td>
        <td>{{ post[1] }}</td>
        <td>{{ post[2] }}</td>
        <td>{{ post[3] }}</td>
        <td>{{ post[4] }}</td>
        <td>{{ post[5] }}</td>
        <td id="centerbtn"><input id="changebtn" type="submit" value="Aanpassen"></td>
        </form>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
        <th>ID</th>
        <th>Voornaam</th>
        <th>Achternaam</th>
        <th>Geboortejaar</th>
        <th>Medewerker</th>
        <th>Met pensioen</th>
    </tr>
    {% for post in posts %}
    <tr>
        <td>{{ post[0] }}</td>
        <td>{{ post[1] }}</td>
        <td>{{ post[2] }}</td>
        <td>{{ post[3] }}</td>
        <td>{{ post[4] }}</td>
        <td>{{ post[5] }}</td>
    </tr>
    {% endfor %}
    {% endif %}
</table>
</body>
</html>