<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Database displayer</title>
    <meta name="description" content="Simple database display"/>
    <meta name="author" content="Rotterdam Academy"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/static/basic.css" type="text/css">
</head>
<body>
<main>
    <h1>Database onderzoek</h1>
    <p>Alle rijen in de tabel <b>{{ table_name }}</b>:</p>
</main>
{%if table_name == vragen:%}
<table>
    <tr>
        <th>Id</th>
        <th>Leerdoel</th>
        <th>vraag</th>
        <th>Auteur</th>
        <th>Actie</th>
    </tr>
    {% for post in posts %}
    <tr>
        <form class="form" method="post">
        <td name="id">{{ post['id'] }}</td>
        <td>{{ post['leerdoel'] }}</td>
        <td>{{ post['vraag'] }}</td>
        <td>{{ post['auteur'] }}</td>
        <td><a href="{{ url_for('vraagdetail') }}"><input type="submit" value="Aanpassen"></a></td>
        </form>
    </tr>
    {% endfor %}

</table>
{% endif %}
</body>

</html>
