<html>
<head>
    <h1>Vragen</h1>
</head>
<body>

<table>
    <tr>
        <th>ID</th>
        <th>Leerdoel</th>
        <th>Vraag</th>
        <th>Auteur</th>
    </tr>
    {% for post in posts %}
    <tr>
        <td name="id">{{ post[0] }}</td>
        <td>{{ post[1] }}</td>
        <td>{{ post[2] }}</td>
        <td>{{ post[3] }}</td>
        <td><form action="vraagdetail.html" method="get"><input type="submit" value="Aanpassen"></form></td>
    </tr>
    {% endfor %}
   
</table>
</body>
</html>